<!DOCTYPE html>
<html dir="ltr" lang="en">

<head th:replace="dashboard/master_layout/master_layout :: html_header"></head>

<body>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <div th:replace="dashboard/master_layout/master_layout :: header"></div>
        <div th:replace="dashboard/master_layout/master_layout :: aside"></div>
        <div class="page-wrapper">
            <!-- Begin Content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <form th:action="@{/application-form/addApplicationForm}" enctype="multipart/form-data" class="form-horizontal form-material" id="formCreateApplicationForm" method="POST">
                            <input th:value="*{quarantinedInformation.id}" name="quarantinedInformation" id="quarantinedInformation" type="hidden">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="box-title text-center"><b>Thêm mới đơn đăng ký</b></h2>
                                    <a style="width: 100px;margin-bottom: 40px;margin-top: -44px;" onclick="window.history.back()" class="btn btn-info text-white">Quay lại</a>
                                    <br>
                                    <div class="row g-3">
                                        <div class="col-md-4 form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Loại đơn</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <select th:field="*{applicationForm.formType}" class="form-select shadow-none p-0 border-0 form-control-line">
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4 form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Nội dung</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <input type="file" th:field="*{myUploadFile.multipartFile}" class="form-control p-0 border-0" id="chooseFile"> </div>
                                        </div>

                                        <div class="col-md-4 form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Mẫu đơn</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <a style="width: 100%;" th:href="@{/dashboard/plugins/application_form/form_template/Mau-don-nguoi-nha-cach-ly.docx}" class="btn btn-info text-white">Tải mẫu đơn tại đây</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <center>
                                    <button style="width: 400px;margin-bottom: 40px;" type="submit" value="Thêm mới" id="submitformCreateApplicationForm" class="btn btn-success text-white">Thêm mới</button>
                                </center>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <!--End Content -->
            <div th:replace="dashboard/master_layout/master_layout :: footer"></div>
            <div th:replace="dashboard/master_layout/master_layout :: script_js"></div>
            <script type="module" th:src="@{/dashboard/js/application_form/create.js}"></script>
        </div>
</body>

</html>