<!DOCTYPE html>
<html dir="ltr" lang="en">

<head th:replace="dashboard/master_layout/master_layout :: html_header"></head>

<body>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <div th:replace="dashboard/master_layout/master_layout :: header"></div>
        <div th:replace="dashboard/master_layout/master_layout :: aside"></div>
        <style>
            a#uploadedFile {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        </style>
        <div class="page-wrapper">
            <!-- Begin Content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <form th:action="@{/application-form/editApplicationForm}" enctype="multipart/form-data" class="form-horizontal form-material" id="formEditApplicationForm" method="POST">
                            <input th:field="*{applicationForm.applicationFormId}" type="hidden">

                            <div class="card">
                                <div class="card-body">
                                    <h2 class="box-title text-center"><b>Thông tin đơn đăng ký</b></h2>
                                    <a style="width: 100px;margin-bottom: 40px;margin-top: -44px;" onclick="window.history.back()" class="btn btn-info text-white">Quay lại</a>
                                    <br>
                                    <div class="row g-3">
                                        <div class="col-md-4 form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Loại đơn</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <select th:field="*{applicationForm.formType}" class="form-select shadow-none p-0 border-0 form-control-line">
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4 form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Nội dung</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <input type="file" th:field="*{myUploadFile.multipartFile}" class="form-control p-0 border-0" id="chooseFile"> </div>
                                        </div>

                                        <div class="col-md-4 form-group mb-4">
                                            <label class="col-md-8 p-0"><b>File đã tải lên</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <input type="hidden" th:value="${applicationForm.content}" name="nameOfFile">
                                                <span hidden th:text="${applicationForm.content}" id="nameOfFile"></span>
                                                <a style="width: 100%;" class="btn btn-info text-white" id="uploadedFile"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <center>
                                    <button style="width: 400px;margin-bottom: 40px;" type="submit" id="submitFormEditApplicationForm" class="btn btn-success text-white">Sửa</button>
                                </center>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <!--End Content -->
            <div th:replace="dashboard/master_layout/master_layout :: footer"></div>
            <div th:replace="dashboard/master_layout/master_layout :: script_js"></div>
            <script th:inline="javascript">
                var currentFormType = /*[[${applicationForm.formType}]]*/ 'em';
            </script>
            <script type="module" th:src="@{/dashboard/js/application_form/detail.js}"></script>
        </div>
</body>

</html>