<!DOCTYPE html>
<html dir="ltr" lang="en">

<head th:replace="dashboard/master_layout/master_layout :: html_header"></head>
<link rel="stylesheet" th:href="@{/dashboard/bootstrap/dist/css/bootstrap-datepicker3.css}" />

<body>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <div th:replace="dashboard/master_layout/master_layout :: header"></div>
        <div th:replace="dashboard/master_layout/master_layout :: aside"></div>
        <div class="page-wrapper">
            <!-- Begin Content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <form th:action="@{/quarantined-people/createQuarantinedPeople}" enctype="multipart/form-data" class="form-horizontal form-material" id="formCreateQuarantinedPeople" method="POST">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="box-title text-center"><b>Thêm mới người cách ly</b></h2>
                                    <a style="width: 100px;margin-bottom: 40px;margin-top: -44px;" href="/quarantined-people" class="btn btn-info text-white">Quay lại</a>
                                    <br>
                                    <div class="row g-3">
                                        <div class="col form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Họ và tên</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <input th:field="*{quarantinedPeople.fullname}" id="fullname" type="text" placeholder="Chu Văn Quềnh" class="form-control p-0 border-0"> </div>
                                        </div>
                                        <div class="col form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Email</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <input th:field="*{quarantinedPeople.email}" id="email" type="text" placeholder="demo@gmail.com" class="form-control p-0 border-0">
                                            </div>
                                        </div>
                                        <div class="col form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Số điện thoại</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <input th:field="*{quarantinedPeople.phoneNumber}" id="phoneNumber" type="number" placeholder="19008198" class="form-control p-0 border-0"> </div>
                                        </div>
                                        <div class="col form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Giới tính</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <label class="col-md-4" for="male">
                                                    <input type="radio" value="1" name="gender" id="male" checked> Nam
                                                </label>
                                                <label for="female">
                                                    <input type="radio" value="0" name="gender" id="female"> Nữ
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-3">
                                        <div class="col form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Quốc tịch</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <input th:field="*{quarantinedPeople.nationality}" id="nationality" type="text" placeholder="Việt Nam, Mỹ,..." class="form-control p-0 border-0"> </div>
                                        </div>
                                        <div class="col form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Chứng minh thư/ Thẻ căn cước</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <input th:field="*{quarantinedPeople.identityCard}" id="identityCard" type="number" placeholder="0123456789" class="form-control p-0 border-0"> </div>
                                        </div>
                                        <div class="col form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Ngày tháng năm sinh</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <input name="dateOfBirthTemp" id="dateOfBirth" type="text" placeholder="dd/mm/yyyy" class="form-control p-0 border-0"> </div>
                                        </div>
                                    </div>
                                    <label class="col-md-8 p-0"><b> Địa chỉ nơi ở</b></label>
                                    <div class="row g-3">
                                        <div class="col form-group mb-4">
                                            <div class="col-md-8 border-bottom p-0">
                                                <select name="province" id="provinceList" class="form-select shadow-none p-0 border-0 form-control-line">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col form-group mb-4">
                                            <div class="col-md-8 border-bottom p-0">
                                                <select name="district" id="districtList" class="form-select shadow-none p-0 border-0 form-control-line">
                                                    <option selected>Quận/Huyện</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col form-group mb-4">
                                            <div class="col-md-8 border-bottom p-0">
                                                <select name="ward" id="wardList" class="form-select shadow-none p-0 border-0 form-control-line">
                                                    <option selected>Phường/Xã</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col form-group mb-4">
                                            <div class="col-md-10 border-bottom p-0">
                                                <textarea style="min-height: 60px;" th:field="*{quarantinedPeople.addressDetail}" id="addressDetail" type="text" placeholder="số nhà,ngõ, xóm, làng " class="form-control p-0 border-0">
                                                    </textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-3">
                                        <div class="col form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Địa chỉ làm việc</b></label>
                                            <div class="col-md-10 border-bottom p-0">
                                                <textarea style="min-height: 120px;" th:field="*{quarantinedPeople.workAddress}" id="workAddress" type="text" placeholder="Công ty ABCXYZ" class="form-control p-0 border-0">
                                                </textarea>
                                            </div>
                                        </div>
                                        <div class="col form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Ảnh chân dung</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <input type="file" th:field="*{myUploadFile.multipartFile}" class="form-control p-0 border-0" id="chooseImage"> </div>
                                        </div>
                                        <div class="col form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Ảnh đã chọn</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <img th:src="@{/dashboard/plugins/images/noimage.jpg}" id="previewImage" width="120px" height="120px" style="border: 1px red;" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="box-title text-center"><b>Thông tin cách ly</b></h2>
                                        <div class="row g-3">
                                            <div class="col form-group mb-4">
                                                <label class="col-md-8 p-0"><b>Khu vực</b></label>
                                                <div class="col-md-8 border-bottom p-0">
                                                    <select class="form-select shadow-none p-0 border-0 form-control-line" id="area">  
                                                        <th:block th:each="cat:${listAreas}">
                                                                <option th:text="${cat.area_name}" th:value="${cat.area_id}"></option>
                                                        </th:block>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col form-group mb-4">
                                                <label class="col-md-8 p-0"><b>Phòng</b></label>
                                                <div class="col-md-8 border-bottom p-0">
                                                    <select name="room" id="room" class="form-select shadow-none p-0 border-0 form-control-line">  
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row g-3">
                                            <div class="col form-group mb-4">
                                                <label class="col-md-8 p-0"><b>Nguồn tiếp xúc mầm bệnh</b></label>
                                                <div class="col-md-8 border-bottom p-0">
                                                    <input th:field="*{quarantinedInformation.sourceOfContact}" id="sourceOfContact" type="text" placeholder="Covid" class="form-control p-0 border-0">
                                                </div>
                                            </div>
                                            <div class="col form-group mb-4">
                                                <label class="col-md-8 p-0"><b>Cấp độ</b></label>
                                                <div class="col-md-8 border-bottom p-0">
                                                    <select class="form-select shadow-none p-0 border-0 form-control-line" th:field="*{quarantinedInformation.levelInfection}">  
                                                        <th:block th:each="cat:${listLevels}">
                                                                <option th:text="${cat.level}" th:value="${cat.id}"></option>
                                                        </th:block>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row g-3">
                                            <div class="col form-group mb-4">
                                                <label class="col-md-8 p-0"><b>Ngày đến khu cách ly</b></label>
                                                <div class="col-md-8 border-bottom p-0">
                                                    <input id="arrivalDateTemp" name="arrivalDateTemp" type="text" placeholder="dd/mm/yyyy" class="form-control p-0 border-0"> </div>
                                            </div>
                                            <div class="col form-group mb-4">
                                                <label class="col-md-8 p-0"><b>Ghi chú</b></label>
                                                <div class="col-md-8 border-bottom p-0">
                                                    <input th:field="*{quarantinedInformation.note}" id="note" type="text" placeholder="Covid" class="form-control p-0 border-0">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <center>
                                    <button style="width: 400px;margin-bottom: 40px;" type="submit" value="Thêm mới" id="submitformCreateQuarantinedPeople" class="btn btn-success text-white">Thêm mới</button>
                                </center>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <!--End Content -->
            <div th:replace="dashboard/master_layout/master_layout :: footer"></div>
            <div th:replace="dashboard/master_layout/master_layout :: script_js"></div>
            <script type="module" th:src="@{/dashboard/js/quarantined_people/create.js}"></script>
            <script th:src="@{/dashboard/bootstrap/dist/js/bootstrap-datepicker.min.js}"></script>
        </div>
</body>

</html>