<!DOCTYPE html>
<html dir="ltr" lang="en">

<head th:replace="dashboard/master_layout/master_layout :: html_header"></head>
<style>
    .blur {
        filter: blur(4px);
    }
    
    .lds-roller {
        display: inline-block;
        position: relative;
        bottom: 300px;
        width: 80px;
        height: 80px;
    }
    
    .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
    }
    
    .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: rgb(0, 132, 255);
        margin: -4px 0 0 -4px;
    }
    
    .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
    }
    
    .lds-roller div:nth-child(1):after {
        top: 63px;
        left: 63px;
    }
    
    .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
    }
    
    .lds-roller div:nth-child(2):after {
        top: 68px;
        left: 56px;
    }
    
    .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
    }
    
    .lds-roller div:nth-child(3):after {
        top: 71px;
        left: 48px;
    }
    
    .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
    }
    
    .lds-roller div:nth-child(4):after {
        top: 72px;
        left: 40px;
    }
    
    .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
    }
    
    .lds-roller div:nth-child(5):after {
        top: 71px;
        left: 32px;
    }
    
    .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
    }
    
    .lds-roller div:nth-child(6):after {
        top: 68px;
        left: 24px;
    }
    
    .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
    }
    
    .lds-roller div:nth-child(7):after {
        top: 63px;
        left: 17px;
    }
    
    .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
    }
    
    .lds-roller div:nth-child(8):after {
        top: 56px;
        left: 12px;
    }
    
    @keyframes lds-roller {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>

<body>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <div th:replace="dashboard/master_layout/master_layout :: header"></div>
        <div th:replace="dashboard/master_layout/master_layout :: aside"></div>
        <div class="page-wrapper" id="pageWrapper">
            <!-- Begin Content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h2 class="box-title text-center">Danh sách người trong khu vực cách ly</h2>
                            <a sec:authorize="hasAnyAuthority('ADMIN','ADDER')" th:href="@{/quarantined-people/create-quarantined-people}" class="btn btn-success text-white">Thêm mới</a>
                            <div style="margin-bottom: 55px;">
                                <div style="position: absolute;top: 52px;left: 1090px;">
                                    <select class="form-select" id="room">
                                </select>
                                </div>
                                <div style="position: absolute;top: 52px;left: 872px;">
                                    <select class="form-select" id="area">
                                    <th:block th:each="cat:${listAreas}">
                                        <option th:text="${cat.area_name}" th:value="${cat.area_id}"></option>
                                </th:block>
                                </select>
                                </div>
                                <div style="position: absolute;top: 100px;left: 836px;">
                                    <select class="form-select" id="statusSelect">
                                    <option value="0">Chưa hoàn thành</option>
                                    <option value="1">Đã hoàn thành</option>
                                    <option value="2">Chưa hoàn thành/Dương tính</option>
                                </select>
                                </div>
                                <div style="position: absolute;top: 100px;left: 1111px;">
                                    <button class="btn btn-secondary text-white" id="btnFilter"><i class="bi bi-funnel"></i> Lọc</button>
                                </div>
                            </div>
                            <div class="table-responsive">

                                <table class="table text-nowrap" id="quarantinedPeopleTable">
                                </table>
                            </div>
                            <br>
                            <h4 id="error"></h4>
                            <!-- phân trang -->
                            <nav aria-label="...">
                                <ul class="pagination" id="pagination">
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <!--End Content -->
        </div>
        <center>
            <div class="lds-roller" id="loader" hidden>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </center>
        <div th:replace="dashboard/master_layout/master_layout :: footer"></div>
        <div th:replace="dashboard/master_layout/master_layout :: script_js"></div>
        <script th:inline="javascript">
            var infoMessage = /*[[${infoMessage}]]*/ 'em';
        </script>
        <script type="module" th:src="@{/dashboard/js/quarantined_people/index.js}"></script>
    </div>
</body>

</html>