<!DOCTYPE html>
<html dir="ltr" lang="en">

<head th:replace="dashboard/master_layout/master_layout :: html_header"></head>
<link rel="stylesheet" th:href="@{/dashboard/bootstrap/dist/css/bootstrap-datepicker3.css}" />

<body>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <div th:replace="dashboard/master_layout/master_layout :: header"></div>
        <div th:replace="dashboard/master_layout/master_layout :: aside"></div>
        <div class="page-wrapper">
            <!-- Begin Content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <form action="#" th:action="@{/test/addTest}" th:object="${test}" class="form-horizontal form-material" id="formCreateTest" method="POST">
                            <input type="hidden" name="quarantinedInformationId" th:value="${quarantinedInformationId}" />
                            <input type="hidden" name="quarantinedPeopleId" th:value="${quarantinedPeopleId}" />
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="box-title text-center"><b>Thêm thông tin xét nghiệm</b></h2>
                                    <a style="width: 100px;margin-bottom: 40px;margin-top: -44px;" id="btnBack" class="btn btn-info text-white">Quay lại</a>
                                    <br>
                                    <div class="row g-3">
                                        <div class="col-md-4 form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Loại xét nghiệm</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <select th:field="*{testType}" class="form-select shadow-none p-0 border-0 form-control-line">
                                                    <option value="">--Chọn loại xét nghiệm--</option>
                                                    <th:block th:each="cat:${listTestTypes}">
                                                            <option th:text="${cat.name}" th:value="${cat.id}"></option>
                                                    </th:block>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4 form-group mb-4">
                                            <label class="col-md-11 p-0"><b>Chẩn đoán</b></label>
                                            <div class="col-md-11 border-bottom p-0">
                                                <textarea th:field="*{diagnose}" placeholder="Chẩn đoán " class="form-control p-0 border-0"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-4 form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Bệnh phẩm thu nhập</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <textarea th:field="*{sample}" placeholder="Bệnh phẩm thu nhập" class="form-control p-0 border-0"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-3">
                                        <div class="col-md-4 form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Người lấy mẫu</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <input th:field="*{sampler}" type="text" placeholder="Người lấy mẫu" class="form-control p-0 border-0">
                                            </div>
                                        </div>
                                        <div class="col-md-4 form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Ngày lấy mẫu</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <input name="receiveSampleDateTemp" id="receiveSampleDateTemp" type="text" placeholder="dd/mm/yyyy" class="form-control p-0 border-0">
                                            </div>
                                        </div>
                                        <div class="col form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Tình trạng mẫu</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <select class="form-select shadow-none p-0 border-0 form-control-line" th:field="*{sampleStatus}">
                                                    <option value="">--Chọn tình trạng--</option>
                                                    <option value="0">Không đạt</option>
                                                    <option value="1">Đạt</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-3">
                                        <div class="col form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Người xét nghiệm</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <input th:field="*{tester}" type="text" placeholder="Người xét nghiệm" class="form-control p-0 border-0">
                                            </div>
                                        </div>
                                        <div class="col form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Ngày xét nghiệm</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <input name="testDateTemp" id="testDateTemp" type="text" placeholder="dd/mm/yyyy" class="form-control p-0 border-0">
                                            </div>
                                        </div>
                                        <div class="col form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Kết quả xét nghiệm</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <select class="form-select shadow-none p-0 border-0 form-control-line" th:field="*{testResult}">
                                                    <option value="">--Chọn kết quả--</option>
                                                    <option value="0">Âm tính</option>
                                                    <option value="1">Dương tính</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <center>

                                    <button style="width: 400px;margin-bottom: 40px;font-size: 16px;" type="submit" value="Thêm mới" id="submitBtn" class="btn btn-success text-white">Thêm mới</button>
                                </center>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <!--End Content -->
        </div>
        <div th:replace="dashboard/master_layout/master_layout :: footer"></div>
        <div th:replace="dashboard/master_layout/master_layout :: script_js"></div>
        <script type="module" th:src="@{/dashboard/js/test/create.js}"></script>
        <script th:inline="javascript">
            var quarantinedInformationId = /*[[${quarantinedInformationId}]]*/ 'em';
            var quarantinedPeopleId = /*[[${quarantinedPeopleId}]]*/ 'em';
            var arrivalDate = /*[[${arrivalDate}]]*/ 'em';
            var departureDate = /*[[${departureDate}]]*/ 'em';
        </script>
        <script th:src="@{/dashboard/bootstrap/dist/js/bootstrap-datepicker.min.js}"></script>
    </div>
</body>

</html>