<!DOCTYPE html>
<html dir="ltr" lang="en">

<head th:replace="dashboard/master_layout/master_layout :: html_header"></head>

<body>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <div th:replace="dashboard/master_layout/master_layout :: header"></div>
        <div th:replace="dashboard/master_layout/master_layout :: aside"></div>
        <div class="page-wrapper">
            <!-- Begin Content -->
            <div class="container-fluid">
                <div style="display: flex;justify-content: space-between;">
                    <button style="width: 120px;margin-bottom: 20px;" id="btnBack" class="btn btn-primary">Quay lại</button>
                    <button style="width: 140px;margin-bottom: 20px;" id="btnExportPDF" class="btn btn-primary">Xuất file PDF</button>
                </div>
                <div class="row">
                    <div class="white-box" id="content">
                        <div class="row">
                            <div class="col-md-4">
                                <img th:src="@{/login/images/logo_byt.png}" width="360px" height="180px" style="margin-top: -20px;margin-left: -40px;">
                            </div>
                            <div class="col-md-8">
                                <h3 class="text-center" style="font-size: 35px;"  ><b><span th:text="${area.area_name}"></span></b></h3>
                                <h5 class="text-center"><b>ĐT: 0961669699</b></h5>
                                <h5 class="text-center"><b>Email: tranquocdataa@gmail.com</b></h5>
                                <br>
                                <h2 class="text-center"><b>KẾT QUẢ XÉT NGHIỆM</b></h2>
                                <h5 class="text-center"><b>Mã tiếp nhận: NCL<span th:text="${quarantinedPeople.id}"></span></b></h5>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <p style="margin-bottom: 0;">
                                    <label><b>Họ và tên: </b></label>&nbsp;&nbsp;<span th:text="${quarantinedPeople.fullname}"></span>
                                </p>
                                <p style="margin-bottom: 0;">
                                    <label><b>Địa chỉ: </b></label>&nbsp;&nbsp;<span  th:text="${quarantinedPeople.ward}"></span>, <span  th:text="${quarantinedPeople.district}"></span>, <span  th:text="${quarantinedPeople.province}"></span>
                                </p>

                            </div>
                            <div class="col-md-6">
                                <p style="margin-bottom: 0;">
                                    <label><b>Ngày sinh: </b></label>&nbsp;&nbsp;<span style="margin-right: 60px;" th:text="${#dates.format(quarantinedPeople.dateOfBirth,'dd-MM-yyyy')}" ></span>
                                    <label><b>Giới tính: </b></label>&nbsp;&nbsp;<span th:text="${quarantinedPeople.gender}?'Nam': 'Nữ'"></span>
                                </p>
                                <p style="margin-bottom: 0;">
                                    <label><b>Phòng: </b></label>&nbsp;&nbsp;<span  th:text="${roomQuarantinedInformationLast.room_name}" ></span>
                                </p>
                                

                            </div>
                        </div>
                        <p style="margin-bottom: 0;">
                            <label><b>Chẩn đoán: </b></label>&nbsp;&nbsp;<span th:text="${testById.diagnose}"></span>
                        </p>
                        <div class="row" style="margin-top: 8px;">
                            <div class="col-md-6">
                                <p style="margin-bottom: 0;">
                                    <label><b>Bệnh phẩm thu nhập: </b></label>&nbsp;&nbsp;<span th:text="${testById.sample}"></span>
                                </p>
                                <p style="margin-bottom: 0;">
                                    <label><b>Người lấy mẫu: </b></label>&nbsp;&nbsp;<span th:text="${testById.sampler}"></span>
                                </p>
                                <p style="margin-bottom: 0;">
                                    <label><b>Người xét nghiệm: </b></label>&nbsp;&nbsp;<span th:text="${testById.tester}"></span>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p style="margin-bottom: 0;">
                                    <label><b>Ngày lấy mẫu: </b></label>&nbsp;&nbsp;<span th:text="${#dates.format(testById.receiveSampleDate,'dd-MM-yyyy')}"></span>
                                </p>
                                <p style="margin-bottom: 0;">
                                    <label><b>Tình trạng mẫu: </b></label>&nbsp;&nbsp;<span th:text="${testById.sampleStatus}?'Đạt':'Không đạt' " ></span>
                                </p>
                                <p style="margin-bottom: 0;">
                                    <label><b>Ngày xét nghiệm: </b></label>&nbsp;&nbsp;<span th:text="${#dates.format(testById.testDate,'dd-MM-yyyy')}"></span>
                                </p>
                            </div>
                        </div>
                        <br>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th><b>STT</b></th>
                                    <th ><b>TÊN XÉT NGHIỆM</b></th>
                                    <th><b>KẾT QUẢ</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td  >1</td>
                                    <td th:text="${testType.name}"></td>
                                    <td th:text="${testById.testResult}?'Dương tính' :'Âm tính'"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <!-- <div class="col-3" style="width:100%;"></div> -->
                                <div class="col-md-9 offset-md-4">
                                <p style="margin-left:100px;">
                                    <label style="font-size: 18px;"><b><span th:text="${#dates.format(#dates.createNow(), 'HH ')}"></span>giờ <span th:text="${#dates.format(#dates.createNow(), 'mm ')}"></span>phút, ngày <span th:text="${#dates.format(#dates.createNow(), 'dd   ')}"></span>tháng<span th:text="${#dates.format(#dates.createNow(), ' MM  ')}"></span> năm<span th:text="${#dates.format(#dates.createNow(), ' yyyy ')}"></span></b></label>&nbsp;&nbsp;
                                    
    
                                </p>    
                                <p style="margin-left:200px;">
                                    <th style="font-size: 18px;" >Người lập đơn xét nghiệm</th>                                
    
                                </p> 
                                <p  style="margin-left:260px; line-height: 0%;">
                                    <th  style="font-size: 18px;" ><i>(Ký tên)</i><th>                                
    
                                </p> 
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>

            <!--End Content -->
            <div th:replace="dashboard/master_layout/master_layout :: footer"></div>
            <div th:replace="dashboard/master_layout/master_layout :: script_js"></div>
            <script type="module" th:src="@{/dashboard/js/common_dashboard/html2pdf.bundle.min.js}"></script>
            <script type="module" th:src="@{/dashboard/js/test/detail.js}"></script>
            <script th:inline="javascript">
            </script>
        </div>
</body>

</html>