<!DOCTYPE html>
<html dir="ltr" lang="en">

<head th:replace="dashboard/master_layout/master_layout :: html_header"></head>
<link rel="stylesheet" th:href="@{/dashboard/bootstrap/dist/css/bootstrap-datepicker3.css}" />

<body>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <div th:replace="dashboard/master_layout/master_layout :: header"></div>
        <div th:replace="dashboard/master_layout/master_layout :: aside"></div>
        <div class="page-wrapper">
            <!-- Begin Content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <form th:action="@{/quarantined-information/doEditQuarantinedInformation}" enctype="multipart/form-data" class="form-horizontal form-material" id="formEditQuarantinedInformation" method="POST">
                            <input type="hidden" name="quarantinedPeopleId" th:value="${quarantinedPeopleId}">
                            <input type="hidden" th:field="${quarantinedInformation.id}" th:value="${quarantinedInformation.id}">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="box-title text-center"><b>Sửa thông tin cách ly</b></h2>
                                    <a style="width: 100px;margin-bottom: 40px;margin-top: -44px;" th:href="@{/quarantined-people/detail-quarantined-people/{id}(id=${quarantinedPeopleId})}" class="btn btn-info text-white">Quay lại</a>
                                    <br>
                                    <div class="row g-3">
                                        <div class="col form-group mb-4">
                                            <label class="col-md-10 p-0"><b>Khu vực</b></label>
                                            <div class="col-md-10 border-bottom p-0">
                                                <select disabled class="form-select shadow-none p-0 border-0 form-control-line" id="area" name="area">  
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col form-group mb-4">
                                            <label class="col-md-10 p-0"><b>Phòng</b></label>
                                            <div class="col-md-10 border-bottom p-0">
                                                <select name="room" id="room" class="form-select shadow-none p-0 border-0 form-control-line">  
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col form-group mb-4">
                                            <label class="col-md-6 p-0"><b>Trạng thái</b></label>
                                            <div class="col-md-6 border-bottom p-0">
                                                <select name="statusEditRoom" id="statusEditRoom" class="form-select shadow-none p-0 border-0 form-control-line">  
                                                    <option value="0">--Chọn trạng thái--</option>
                                                    <option value="1">Cập nhật phòng</option>
                                                    <option value="2">Chuyển phòng</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-3">
                                        <div class="col form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Nguồn tiếp xúc mầm bệnh</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <input th:field="*{quarantinedInformation.sourceOfContact}" id="sourceOfContact" type="text" placeholder="Covid" class="form-control p-0 border-0">
                                            </div>
                                        </div>
                                        <div class="col form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Cấp độ</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <select class="form-select shadow-none p-0 border-0 form-control-line" th:field="*{quarantinedInformation.levelInfection}">  
                                                    <th:block th:each="cat:${listLevels}">
                                                            <option th:text="${cat.level}" th:value="${cat.id}"></option>
                                                    </th:block>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Ngày chuyển phòng</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <input style="cursor: no-drop;" disabled id="leaveDateTemp" name="leaveDateTemp" type="text" placeholder="dd/mm/yyyy" class="form-control p-0 border-0"> </div>
                                        </div>
                                    </div>
                                    <div class="row g-3">
                                        <div class="col form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Ngày đến khu cách ly</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <input id="arrivalDateTemp" name="arrivalDateTemp" type="text" placeholder="dd/mm/yyyy" class="form-control p-0 border-0"> </div>
                                        </div>
                                        <div class="col form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Ghi chú</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <input th:field="*{quarantinedInformation.note}" id="note" type="text" placeholder="Covid" class="form-control p-0 border-0">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <center>
                                    <button style="width: 400px;margin-bottom: 40px;" type="submit" value="Thêm mới" id="submitformEditQuarantinedInformation" class="btn btn-success text-white">Sửa</button>
                                </center>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <!--End Content -->
            <div th:replace="dashboard/master_layout/master_layout :: footer"></div>
            <div th:replace="dashboard/master_layout/master_layout :: script_js"></div>
            <script th:inline="javascript">
                var currentArrivalDate = /*[[${currentArrivalDate}]]*/ 'em';
                var currentDepartureDate = /*[[${currentDepartureDate}]]*/ 'em';
                var currentLevelInfectionId = /*[[${currentLevelInfectionId}]]*/ 'em';
                var currentLevelInfectionName = /*[[${currentLevelInfectionName}]]*/ 'em';
                var currentRoomId = /*[[${currentRoomId.roomId}]]*/ 'em';
                var quarantinedPeopleId = /*[[${quarantinedPeopleId}]]*/ 'em';
            </script>
            <script type="module" th:src="@{/dashboard/js/quarantined_information/edit.js}"></script>
            <script th:src="@{/dashboard/bootstrap/dist/js/bootstrap-datepicker.min.js}"></script>
        </div>
</body>

</html>