<!DOCTYPE html>
<html dir="ltr" lang="en">

<head th:replace="dashboard/master_layout/master_layout :: html_header"></head>
<!-- <link rel="stylesheet" href="dashboard/bootstrap/dist/css/bootstrap-datepicker3.css" /> -->

<body>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <div th:replace="dashboard/master_layout/master_layout :: header"></div>
        <div th:replace="dashboard/master_layout/master_layout :: aside"></div>
        <div class="page-wrapper">
            <!-- Begin Content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <form action ="#" th:action="@{/rooms/add-room}" th:object="${room}" class="form-horizontal form-material" id="formCreateRoom" method="POST">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="box-title text-center"><b>Thêm mới phòng cách ly</b></h2>
                                    <br>
                                    <div class="row g-3">
                                        <div class="col form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Tên phòng cách ly</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <input th:field="*{room_name}" id="roomName" type="text" placeholder="Nhập tên phòng" class="form-control p-0 border-0"> </div>
                                        </div>
                                        <div class="col form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Số giường</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <input th:field="*{bed_number}" id="bedNumber" type="number" placeholder="Nhập số giường" class="form-control p-0 border-0"> </div>
                                        </div>
                                        <div class="col form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Ghi chú</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <input th:field="*{note}" id="note" type="text" placeholder="Điền ghi chú vào đây" class="form-control p-0 border-0">
                                            </div>
                                        </div>
                                        <div class="col form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Khu vực cách ly</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <select th:field="*{area}" class="form-control"  required>  
                                                    <th:block th:each="cat:${listArea}">
                                                            <option th:text="${cat.area_name}" th:value="${cat.area_id}"></option>
                                                    </th:block>
                                                </select>
                                                
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <center>
                                    
                                        <button style="width: 400px;margin-bottom: 40px;font-size: 16px;" type="submit"  id="submitBtn" class="btn btn-success text-white">Thêm mới</button>
                                    </center>
                                   
                                </div>
                               
                               
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <!--End Content -->
            <div th:replace="dashboard/master_layout/master_layout :: footer"></div>
            <div th:replace="dashboard/master_layout/master_layout :: script_js"></div>
            <script type="module" th:src="@{/dashboard/js/room/create.js}"></script>
           
        </div>
</body>

</html>