<!DOCTYPE html>
<html dir="ltr" lang="en">

<head th:replace="dashboard/master_layout/master_layout :: html_header"></head>

<body>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <div th:replace="dashboard/master_layout/master_layout :: header"></div>
        <div th:replace="dashboard/master_layout/master_layout :: aside"></div>
        <div class="page-wrapper">
            <!-- Begin Content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <form th:action="@{/users/edit-user}" class="form-horizontal form-material" id="formCreateUser" method="POST" enctype="multipart/form-data">
                            <input th:field="*{user.id}" type="hidden">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="box-title text-center"><b>Thông tin người dùng</b></h2>
                                    <br>
                                    <div class="row g-3">
                                        <div class="col form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Họ và tên</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <input th:field="*{user.fullname}" id="fullname" type="text" placeholder="Chu Văn Quềnh" class="form-control p-0 border-0"> </div>
                                        </div>
                                        <div class="col form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Tên đăng nhập</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <input th:field="*{user.username}" id="username" type="text" placeholder="demo123" class="form-control p-0 border-0">
                                            </div>
                                        </div>
                                        <div class="col form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Email</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <input th:field="*{user.email}" id="email" type="text" placeholder="demo@gmail.com.vn" class="form-control p-0 border-0">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-3">
                                        <div class="col form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Ảnh chân dung</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <input type="file" th:field="*{myUploadFile.multipartFile}" class="form-control p-0 border-0" id="chooseImage">
                                            </div>
                                        </div>
                                        <div class="col form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Ảnh đã chọn</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <input type="hidden" th:value="${user.avatar}" name="nameOfAvatar">
                                                <span hidden th:text="${user.avatar}" id="nameOfAvatar"></span>
                                                <img id="previewImage" width="120px" height="120px" style="border: 1px red;" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-3">
                                        <div class="col form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Số điện thoại</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <input th:field="*{user.phoneNumber}" id="phoneNumber" type="number" placeholder="19008198" class="form-control p-0 border-0">
                                            </div>
                                        </div>
                                        <div class="col form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Vai trò người dùng</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <th:block th:each="role: ${listRoles}">
                                                    <input type="checkbox" th:field="*{user.roles}" th:value="${role.id}" th:id="${role.id}+a" />
                                                    <label class="col-md-3" th:text="(${role.name} == 'ADDER') ? 'Thêm người': (${role.name} == 'TESTER' ? 'Xét nghiệm' : 'Xử lí đơn')" th:for="${role.id}+a"></label>
                                                </th:block>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-3">
                                        <div class="col form-group mb-4">
                                            <label class="col-md-8 p-0"><b>Khu vực được giao quản lí</b></label>
                                            <div class="col-md-8 border-bottom p-0">
                                                <select th:field="*{user.areas}" multiple class="form-select shadow-none p-0 border-0 form-control-line" style="min-height: 100px;">  
                                                    <th:block th:each="cat:${listAreas}">
                                                            <option th:text="${cat.area_name}" th:value="${cat.area_id}"></option>
                                                    </th:block>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <center>
                                    <button style="width: 400px;margin-bottom: 40px;font-size: 16px;" type="submit" id="submitBtn" class="btn btn-success text-white">Sửa</button>
                                </center>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <!--End Content -->
            <div th:replace="dashboard/master_layout/master_layout :: footer"></div>
            <div th:replace="dashboard/master_layout/master_layout :: script_js"></div>

            <script th:inline="javascript">
                var currentUsername = /*[[${currentUsername}]]*/ 'em';
                var currentPhoneNumber = /*[[${currentPhoneNumber}]]*/ 'em';
                var currentEmail = /*[[${currentEmail}]]*/ 'em';
            </script>
            <script type="module" th:src="@{/dashboard/js/user/detail.js}"></script>
        </div>
</body>

</html>