<!DOCTYPE html>
<html dir="ltr" lang="en">

<head th:replace="dashboard/master_layout/master_layout :: html_header"></head>

<body>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <div th:replace="dashboard/master_layout/master_layout :: header"></div>
        <div th:replace="dashboard/master_layout/master_layout :: aside"></div>
        <div class="page-wrapper">
            <!-- Begin Content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h2 class="box-title text-center">Danh sách người dùng</h2>
                            <a th:href="@{/users/create-user}" class="btn btn-success text-white">Thêm mới</a>
                            <div class="table-responsive">
                                <table class="table text-nowrap" id="userTable">
                                </table>
                            </div>
                            <br>
                            <h4 id="error"></h4>
                            <!-- phân trang -->
                            <nav aria-label="...">
                                <ul class="pagination" id="pagination">
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <!--End Content -->
        </div>
        <div th:replace="dashboard/master_layout/master_layout :: footer"></div>
        <div th:replace="dashboard/master_layout/master_layout :: script_js"></div>
        <script type="module" th:src="@{/dashboard/js/user/index.js}"></script>
    </div>
</body>

</html>