<!DOCTYPE html>
<html dir="ltr" lang="en">

<head th:replace="dashboard/master_layout/master_layout :: html_header"></head>

<body>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <div th:replace="dashboard/master_layout/master_layout :: header"></div>
        <div th:replace="dashboard/master_layout/master_layout :: aside"></div>
        <div class="page-wrapper">
            <!-- Begin Content -->
            <div class="container-fluid">
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-12">
                        <div class="white-box">
                            <div class="user-bg">
                                <img width="100%" alt="user" th:src="@{/login/images/logo_byt.png}">
                                <div class="overlay-box">
                                    <div class="user-content">
                                        <a href="javascript:void(0)">
                                            <img id="profileAvatar" class="thumb-lg img-circle" alt="img">
                                        </a>
                                        <h4 class="text-white mt-2" th:text="${user.username}" id="profileUsername" style="font-weight: bold;"></h4>
                                        <h5 class="text-white mt-2" id="profileEmail" style="font-weight: bold;"></h5>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="user-btm-box mt-5 d-md-flex">
                                <div class="col-md-4 col-sm-4 text-center">
                                    <h1>258</h1>
                                </div>
                                <div class="col-md-4 col-sm-4 text-center">
                                    <h1>125</h1>
                                </div>
                                <div class="col-md-4 col-sm-4 text-center">
                                    <h1>556</h1>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-lg-8 col-xlg-9 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form th:action="@{/current-user/edit-profile}" class="form-horizontal form-material" method="POST" enctype="multipart/form-data" id="formEditProfile">
                                    <input type="hidden" th:field="*{user.id}">
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0"><b>Họ và tên</b></label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" placeholder="Chu Văn Quềnh" class="form-control p-0 border-0" name="fullname" id="fullName"> </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0"><b>Số điện thoại</b></label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="number" placeholder="1234567890" class="form-control p-0 border-0" name="phoneNumber" id="phoneNumber">
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0"><b>Ảnh đại diện</b></label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="file" id="chooseImage" class="form-control p-0 border-0" th:field="*{myUploadFile.multipartFile}">
                                            <span hidden th:text="${user.avatar}" id="currentAvatar"></span>
                                            <input hidden th:value="${user.avatar}" name="currentAvatar"></input>
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <div class="col-sm-12">
                                            <button class="btn btn-success" id="btnProfileSubmit">Sửa thông tin</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
            </div>
            <!--End Content -->
            <div th:replace="dashboard/master_layout/master_layout :: footer"></div>
            <div th:replace="dashboard/master_layout/master_layout :: script_js"></div>

            <script th:inline="javascript">
                var currentPhoneNumber = /*[[${user.phoneNumber}]]*/ 'em';
            </script>
            <script type="module" th:src="@{/dashboard/js/user/profile.js}"></script>
        </div>
</body>

</html>