<!DOCTYPE html>
<html dir="ltr" lang="en">

<head th:replace="dashboard/master_layout/master_layout :: html_header"></head>

<body>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <div th:replace="dashboard/master_layout/master_layout :: header"></div>
        <div th:replace="dashboard/master_layout/master_layout :: aside"></div>
        <div class="page-wrapper">
            <!-- Begin Content -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Trang chủ</h4>
                    </div>
                    <!-- <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ms-auto">
                                <li><a href="#" class="fw-normal">Trang chủ</a></li>
                            </ol>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Tổng số người đang cách ly</h3>
                            <ul class="list-inline two-part d-flex align-items-center mb-0">
                                <li>
                                    <div id="sparklinedash"><canvas width="67" height="30" style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                                    </div>
                                </li>
                                <li class="ms-auto"><span class="counter text-warning" id="quarantining"></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Tổng số người đã hoàn thành cách ly</h3>
                            <ul class="list-inline two-part d-flex align-items-center mb-0">
                                <li>
                                    <div id="sparklinedash2"><canvas width="67" height="30" style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                                    </div>
                                </li>
                                <li class="ms-auto">
                                    <span class="counter text-success" id="quarantined"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Tổng số ca dương tính</h3>
                            <ul class="list-inline two-part d-flex align-items-center mb-0">
                                <li>
                                    <div id="sparklinedash3"><canvas width="67" height="30" style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                                    </div>
                                </li>
                                <li class="ms-auto"><span class="counter text-danger" id="positive"></span>
                                    <a th:href="@{'edit/id'}"> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="white-box analytics-info">
                        <h3 class="box-title">Thống kê covid tại Việt Nam</h3>
                        <br>
                        <h4>Dân số: <span id="population"></span></h4>
                        <h4>Tổng số ca nhiễm: <span id="confirmed"></span></h4>
                        <h4>Tổng số ca tử vong: <span id="deaths"></span></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="white-box analytics-info">
                        <div class="row">
                            <div class="col-md-10">
                                <h3 class="box-title">Biểu đồ số ca dương tính/tử vong covid <span id="currentNumberDay"></span> ngày gần nhất tại Việt Nam</h3>
                            </div>
                            <div class="col-md-2">
                                <select id="numberDays">
                                    <option value="3">3 ngày</option>
                                    <option value="5">5 ngày</option>
                                    <option value="7" selected>7 ngày</option>
                                    <option value="10">10 ngày</option>
                                    <option value="15">15 ngày</option>
                                </select>
                            </div>
                        </div>
                        <canvas id="myChart" style="width:100%"></canvas>
                    </div>
                </div>
            </div>

            <!--End Content -->
        </div>
        <div th:replace="dashboard/master_layout/master_layout :: footer"></div>
        <script th:src="@{/dashboard/js/common_dashboard/chart.js}"></script>
        <script type="module" th:src="@{/dashboard/js/index.js}"></script>
        <div th:replace="dashboard/master_layout/master_layout :: script_js"></div>
    </div>
</body>

</html>