<!DOCTYPE html>
<html dir="ltr" xmlns:th="http:/www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Ample lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Ample admin lite dashboard bootstrap 5 dashboard template">
    <meta name="description" content="Ample Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>Lỗi !!!</title>
    <link rel="icon" th:href="@{/login/images/logo_byt.png}">
    <link th:href="@{/dashboard/css/style.min.css}" rel="stylesheet">
</head>

<body>
    <div class="main-wrapper">
        <div class="error-box">
            <div class="error-body text-center">
                <h1 class="error-title text-danger">403</h1>
                <h3 class="text-uppercase error-subtitle">KHÔNG CÓ QUYỀN TRUY CẬP !</h3>
                <p class="text-muted mt-4 mb-4">BẠN KHÔNG CÓ QUYỀN TRUY CẬP VÀO TRANG NÀY</p>
                <a href="/" class="btn btn-danger btn-rounded waves-effect waves-light mb-5 text-white">Trở về trang chủ</a>
            </div>
        </div>
    </div>
</body>

</html>