<!doctype html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" th:href="@{/login/images/logo_byt.png}">
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet"> -->

    <link rel="stylesheet" href="login/fonts/icomoon/style.css">
    <link rel="stylesheet" href="login/css/owl.carousel.min.css">
    <link rel="stylesheet" href="login/css/bootstrap.min.css">
    <link rel="stylesheet" href="login/css/style.css">

    <title>Quên mật khẩu</title>
</head>

<body th:style="'background: url(/login/images/cach-ly.jpg) no-repeat center center fixed;background-size: cover;'">
    <div class="content" style="margin-top: -20px;height: 1px;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-3"></div>
                <div class="col-md-6 contents">
                    <div class="form-block">
                        <div class="mb-4">
                            <div style="display: inline-flex;">
                                <img src="/login/images/logo_byt.png" style="margin:0px;float:left;width: 100px;height: 62px;">

                                <div style="margin-bottom: 100px;margin-left:8px; float:left">
                                    <div style="display:block;font-weight: 400;font-family: Sarabun;font-size:18px">
                                        HỆ THỐNG QUẢN LÍ
                                    </div>
                                    <div style="font-weight: 600; font-family: 'PF BeauSans Pro', sans-serif;font-size:20px;margin-top:7px">
                                        NGƯỜI TRONG KHU VỰC CÁCH LY
                                    </div>
                                </div>
                            </div>
                            <h3 class="text-center">Quên mật khẩu</h3>
                            <!-- <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p> -->
                        </div>
                        <form th:action="@{/forgot-password/doForgotPassword}" method="post" id="formForgotPassword">
                            <div class="form-group first">
                                <label for="email" style="font-size: 16px;">Email</label>
                                <input type="text" class="form-control" id="email" name="email" style="font-size: 16px;">
                            </div>
                            <br>
                            <input type="submit" id="btnSubmitForgotPassword" value="Gửi email" class="btn text-white btn-block btn-info">
                        </form>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>

    <script src="/login/js/jquery-3.3.1.min.js"></script>
    <!-- <script src="/login/js/popper.min.js"></script> -->
    <!-- <script src="/login/js/bootstrap.min.js"></script> -->
    <script src="/login/js/main.js"></script>
    <script src="/common_dashboard_login/js/sweetalert2.all.min.js"></script>

    <script th:inline="javascript">
        var infoMessage = /*[[${infoMessage}]]*/ 'em';
    </script>
    <script type="module" th:src="@{/login/js/forgot_password/forgot_password.js}"></script>
</body>

</html>