<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:fragment="html_header">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Ample lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Ample admin lite dashboard bootstrap 5 dashboard template">
    <meta name="description" content="Ample Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>Dashboard</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/ample-admin-lite/" />
    <!-- Favicon icon -->
    <link rel="icon" th:href="@{/login/images/logo_byt.png}">
    <!-- Custom CSS -->
    <link th:href="@{/dashboard/plugins/bower_components/chartist/dist/chartist.min.css}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="dashboard/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css"> -->
    <!-- Custom CSS -->
    <link th:href="@{/dashboard/css/style.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/common_dashboard_login/css/bootstrap-icons.css}"></link>
    <style>
        body {
            font-size: 16px;
        }
    </style>
</head>

<body>
    <div th:fragment="header">
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin6">
                    <a class="navbar-brand" th:href="@{/}">
                        <b class="logo-icon">
                                <img th:src="@{/dashboard/plugins/images/logo-icon.png}" alt="homepage" />
                            </b>
                        <span class="logo-text">
                                <img th:src="@{/dashboard/plugins/images/logo-text.png}" alt="homepage" />
                            </span>
                    </a>
                    <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                </div>
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <ul class="navbar-nav ms-auto d-flex align-items-center">
                        <li class=" in">
                            <form role="search" class="app-search d-none d-md-block me-3">
                                <input type="text" placeholder="Tìm kiếm nhanh..." class="form-control mt-0" id="searchInput">
                                <a href="" class="active">
                                    <i class="fa fa-search"></i>
                                </a>
                            </form>
                        </li>
                        <li>
                            <a class="profile-pic" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <img alt="user-img" width="36" id="loggedUserAvatar" class="img-circle">
                                <span class="text-white font-medium" id="loggedUsername"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <a th:href="@{/current-user/profile}" class="btn btn-success text-white">Thông tin cá nhân</a>
                    </div>
                    <div class="modal-footer" style="display: flex;justify-content: space-between;">
                        <div>
                            <a th:href="@{/current-user/change-password}" class="btn btn-info text-white">Đổi mật khẩu</a>
                        </div>
                        <div>
                            <form th:action="@{/doLogout}" method="post" id="formLogout">
                                <button type="submit" class="btn btn-danger text-white" id="btnLogout">Đăng xuất</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="aside">
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <li class="sidebar-item pt-2" sec:authorize="hasAuthority('ADMIN')">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/users}" aria-expanded="false">
                                <i class="far fa-clock" aria-hidden="true"></i>
                                <span class="hide-menu">Quản lí người dùng</span>
                            </a>
                        </li>
                        <li class="sidebar-item" sec:authorize="hasAuthority('ADMIN')">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/areas}" aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="hide-menu">Khu vực cách ly</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/rooms}" aria-expanded="false">
                                <i class="fa fa-table" aria-hidden="true"></i>
                                <span class="hide-menu">Phòng cách ly</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/form-type}" aria-expanded="false">
                                <i class="fab fa-wpforms" aria-hidden="true"></i>
                                <span class="hide-menu">Quản lý loại đơn</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/quarantined-people}" aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="hide-menu">Người trong khu cách ly</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/test-type}" aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="hide-menu">Loại xét nghiệm</span>
                            </a>
                        </li>
                        <!-- <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/test}" aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="hide-menu">Thông tin xét nghiệm</span>
                            </a>
                        </li> -->
                        <!-- version beta  -->
                        <li class="text-center p-20 upgrade-btn">
                            <a href="/" class="btn d-grid btn-danger text-white">
                                Phiên bản beta</a>
                        </li>
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- Modal -->

    </div>
    <div th:fragment="footer">
        <footer class="footer text-center">
            <p>Liên hệ: c1808j1@gmail.com</p>
        </footer>
    </div>
    <div th:fragment="script_js">
        <script th:src="@{/dashboard/plugins/bower_components/jquery/dist/jquery.min.js}"></script>
        <!-- Bootstrap tether Core JavaScript -->
        <script th:src="@{/dashboard/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/dashboard/bootstrap/dist/js/bootstrap.min.js}"></script>
        <script th:src="@{/dashboard/js/app-style-switcher.js}"></script>
        <script th:src="@{/dashboard/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js}"></script>
        <!--Wave Effects -->
        <script th:src="@{/dashboard/js/waves.js}"></script>
        <!--Menu sidebar -->
        <script th:src="@{/dashboard/js/sidebarmenu.js}"></script>
        <!--Custom JavaScript -->
        <script th:src="@{/dashboard/js/custom.js}"></script>
        <script th:src="@{/common_dashboard_login/js/sweetalert2.all.min.js}"></script>
        <script src="/webjars/jquery/dist/jquery.min.js"></script>
        <script src="/webjars/sockjs-client/sockjs.min.js"></script>
        <script src="/webjars/stomp-websocket/stomp.min.js"></script>
        <!--This page JavaScript -->
        <!--chartis chart-->
        <!-- <script src="dashboard/plugins/bower_components/chartist/dist/chartist.min.js"></script> -->
        <!-- <script src="dashboard/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script> -->
        <!-- <script src="dashboard/js/pages/dashboards/dashboard1.js"></script> -->
        <script type="module" th:src="@{/dashboard/js/master_layout/index.js}"></script>
        <script type="text/javascript" th:inline="javascript">
            var roles = [];

            /*[# sec:authorize="hasAuthority('ADMIN')"]*/
            roles.push("ADMIN")
                /*[/]*/

            /*[# sec:authorize="hasAuthority('ADDER')"]*/
            roles.push("ADDER")
                /*[/]*/

            /*[# sec:authorize="hasAuthority('TESTER')"]*/
            roles.push("TESTER")
                /*[/]*/

            /*[# sec:authorize="hasAuthority('HANDLER')"]*/
            roles.push("HANDLER")
                /*[/]*/
        </script>
    </div>
</body>

</html>