<!doctype html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" th:href="@{/login/images/logo_byt.png}">
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet"> -->

    <link rel="stylesheet" th:href="@{/login/fonts/icomoon/style.css}">
    <link rel="stylesheet" th:href="@{/login/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/login/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/login/css/style.css}">
    <link rel="stylesheet" th:href="@{/common_dashboard_login/css/bootstrap-icons.css}"></link>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"> -->
    <title>Đặt lại mật khẩu đăng nhập</title>
</head>

<body th:style="'background: url(/login/images/cach-ly.jpg) no-repeat center center fixed;background-size: cover;'">
    <div class="content" style="margin-top: -20px;height: 1px;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-3"></div>
                <div class="col-md-6 contents">
                    <div class="form-block">
                        <div class="mb-4">
                            <div style="display: inline-flex;">
                                <img src="/login/images/logo_byt.png" style="margin:0px;float:left;width: 100px;height: 62px;">

                                <div style="margin-bottom: 100px;margin-left:8px; float:left">
                                    <div style="display:block;font-weight: 400;font-family: Sarabun;font-size:18px">
                                        HỆ THỐNG QUẢN LÍ
                                    </div>
                                    <div style="font-weight: 600; font-family: 'PF BeauSans Pro', sans-serif;font-size:20px;margin-top:7px">
                                        NGƯỜI TRONG KHU VỰC CÁCH LY
                                    </div>
                                </div>
                            </div>
                            <h3 class="text-center">Đặt lại mật khẩu đăng nhập</h3>
                            <!-- <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p> -->
                        </div>
                        <form th:action="@{/reset-password/doResetPassword}" method="post" id="formResetPassword">
                            <input type="hidden" class="form-control col-md-10" th:value="${passwordResetToken}" name="passwordResetToken" style="font-size: 16px;">
                            <div style="margin-left: 45px;">
                                <div class="form-group last mb-4">
                                    <div class="row">
                                        <label for="newPassword" style="font-size: 16px;">Mật khẩu mới</label>
                                        <input type="password" class="form-control col-md-10" id="newPassword" name="newPassword" style="font-size: 16px;">
                                        <span class="col-md-2">
                                        <i class="bi bi-eye-fill" id="iconShowNewPass" style="font-size: 18px;margin-top: 20px;"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group last mb-4">
                                    <div class="row">
                                        <label for="confirmNewPassword" style="font-size: 16px;">Xác nhận mật khẩu mới</label>
                                        <input type="password" class="form-control col-md-10" id="confirmNewPassword" name="confirmNewPassword" style="font-size: 16px;">
                                        <span class="col-md-2">
                                            <i class="bi bi-eye-fill" id="iconShowConfirmNewPass" style="font-size: 18px;margin-top: 20px;"></i>
                                            </span>
                                    </div>
                                </div>
                            </div>

                            <input type="submit" id="btnSubmitResetPassword" value="Đổi mật khẩu" class="btn text-white btn-block btn-info">
                        </form>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>

    <script th:src="@{/login/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/login/js/main.js}"></script>
    <script th:src="@{/common_dashboard_login/js/sweetalert2.all.min.js}"></script>


    <script th:inline="javascript">
        var passwordResetToken = /*[[${passwordResetToken}]]*/ 'em';
    </script>
    <script type="module" th:src="@{/login/js/reset_password/reset_password.js}"></script>
</body>

</html>